<style>
.ft-module-tweet {
  padding-left: 58px;
  margin: 1em 0;
}
.ft-module-tweet .h-card {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}
.ft-module-tweet .avatar {
  float: left;
  margin-left: -58px;
  border-radius: 4px;
  width: 48px;
}
.ft-module-tweet .full-name {
  font-weight: bold;
}
.ft-module-tweet blockquote {
  font-size: 17px;
  margin: 7px 0;
}
.ft-module-tweet .media {
  margin: 10px 0 7px 0;
  max-height: 300px;
  max-width: 100%;
  position: relative;
}
.ft-module-tweet .media img {
  max-height: 100%;
  max-width: 100%;
}
.ft-module-tweet .iframed {
  max-width: 450px;
}
.ft-module-tweet .iframed div {
  padding-top:56.25%;
  height:0;
  max-width: 100%;
}
.ft-module-tweet .iframed iframe {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.ft-module-tweet .metadata {
  list-style-type: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.ft-module-tweet .metadata li {
  display: inline;
  margin-right: 8px;
  white-space: nowrap;
  line-height: 1.5;
}
.ft-module-tweet a.permalink {
  color: #999;
}
.ft-module-tweet li.stats {
  font-size: 10px;
  text-transform: uppercase;
}
.ft-module-tweet li.stats strong {
  font-size: 12px;
}
</style>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales in purus vel venenatis. Aliquam nec mattis lectus. Vivamus eu sagittis neque. Donec auctor sed velit in tincidunt. Nunc eu facilisis urna, at rhoncus ligula. Duis rhoncus sem augue, id lacinia sapien ornare vel. Proin vel eros nulla. Aenean convallis pulvinar adipiscing. Phasellus id justo turpis. Curabitur ultrices faucibus urna. Sed nec nisl in enim tempor tempus eget nec tellus. Fusce ultricies commodo rhoncus.</p>

<div class='ft-module-tweet'>
  <div class='h-card'>
    <a class='url-profile' target="_blank" title="Go to twitter profile for @{{user.screen_name}}" href='http://twitter.com/{{user.screen_name}}'><img class='avatar' src='{{{user.profile_image_url_https}}}' /></a>
    <span class='full-name'>{{user.name}}</span> tweets:
  </div>
  <blockquote>{{autoLink text urls=entities.urls}}</blockquote>
  {{#each entities.media}}
    {{#ifEq type compare="photo"}}
      <div class='media photo'><img src='{{{media_url_https}}}' alt='Embedded photo' /></div>
    {{/ifEq}}
  {{/each}}
  {{#each entities.urls}}
    {{#ifContains expanded_url compare="youtube"}}
      <div class='media iframed'><div><iframe src="//www.youtube.com/embed/{{extract expanded_url type='youtube'}}" frameborder="0" allowfullscreen></iframe></div></div>
    {{/ifContains}}
  {{/each}}
  <ul class='metadata'>
    {{#if retweet_count}}<li class='stats'><strong>{{numberFormat retweet_count}}</strong> retweets</li>{{/if}}
    {{#if favorite_count}}<li class='stats'><strong>{{numberFormat favorite_count}}</strong> favorites</li>{{/if}}
    <li class='creation-date'><a class='permalink' title='Permalink to tweet' href='http://twitter.com/{{user.screen_name}}/statuses/{{id}}'><time>{{dateFormat created_at format="h:mma Do MMM YYYY"}}</time></a></li>
</div>

<p>Donec tristique ac justo tempor aliquet. Aenean imperdiet congue nisi ut tincidunt. Nulla commodo tortor vitae orci pellentesque, in pretium ipsum commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non interdum nulla, a hendrerit erat. Vivamus rhoncus gravida ipsum at porta. Vestibulum lobortis eleifend vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vel augue arcu. Praesent dictum elit molestie est vulputate aliquam. Suspendisse cursus leo vitae nunc hendrerit pulvinar.</p>
