<div class='ft-tweet-module'>
  <div class='h-card'>
    <a class='url-profile' target="_blank" title="Go to twitter profile for @{{user.screen_name}}" href='http://twitter.com/{{user.screen_name}}'><img class='avatar' src='{{{user.profile_image_url_https}}}' /></a>
    <span class='full-name'>{{user.name}}</span> tweets:
  </div>
  <blockquote>{{autoLink text urls=entities.urls}}</blockquote>
  {{#each entities.media}}
    {{#ifEq type compare="photo"}}
      <div class='media photo'><img src='{{{media_url_https}}}' alt='Embedded photo' /></div>
    {{/ifEq}}
  {{/each}}
  {{#each entities.urls}}
    {{#ifContains expanded_url compare="youtube"}}
      <div class='media iframed'><div><iframe src="//www.youtube.com/embed/{{extract expanded_url type='youtube'}}" frameborder="0" allowfullscreen></iframe></div></div>
    {{/ifContains}}
  {{/each}}
  <ul class='metadata'>
    {{#if retweet_count}}<li class='stats'><strong>{{numberFormat retweet_count}}</strong> retweets</li>{{/if}}
    {{#if favorite_count}}<li class='stats'><strong>{{numberFormat favorite_count}}</strong> favorites</li>{{/if}}
    <li class='creation-date'><a class='permalink' title='Permalink to tweet' href='http://twitter.com/{{user.screen_name}}/statuses/{{id}}'><time>{{dateFormat created_at format="h:mma, Do MMM YYYY"}}</time></a></li>
</div>
